.detail--product {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-top: 25px;
}

img {
    width: 100%;

}

.btn-canjear {
    left: 100px;
}

.btn-categ-prod {
    display: flex;
    margin-left: 3rem !important;
    margin-top: 20px;
}

.nombre-product {
    left: 100px;
    color: #56042c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.detail--product-img {
    max-width: 300px;
}

.detail--product-text {}